<html>
	<head>
		<title>二维码信息</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
  				$("img").click(function(){
  					var ID = $(this).attr("id")
  					var url = "/manage/QR/option/?action=download&qid=" + ID
  					 //$.get(url, function(data,status){});
  					 window.open(url)
  				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("button").click(function(){
					var ID = $(this).attr("id")
          if(ID == "heihei" || ID == "haha"){

          }else{
              var ss = String(ID)
              var len = ss.length
              //取出ss的最后一个字符
              var test_str = ss.substring(len - 1. len)
              if(test_str == "x"){
                //用户点击记录按钮
                //获取真正的用户id
                var trueID = ID.substring(0, len - 1)
                var anotherURL = "/manage/QR/option/?action=detail&qid=" + trueID
                //新建一个标签页显示二维码详细信息
                window.open(anotherURL)
              }else{
                //用户点击编辑按钮
                var content = prompt("请输入备注信息：", "")
                if(content==null){

                }else{
                  //对输入的中英文字符串进行url编码
                  var contentEncode = SetString(content)
                  var url = "/manage/QR/option/?action=modify&qid=" + ID + "&remark=" + contentEncode
                  var optionURL = "/manage/QR/option"
                  $.get(url, function(data,status){});
                  window.location.replace(optionURL) 
            }
          }
          }
				});
			});

		</script>
		<script type="text/javascript">
    function SetString(str)
 {
  var strlen = 0; 
  var s = "";
  var begin = -1
  var end = -1
  var newSTR = ""
  console.warn(str)
  for(var i = 0;i < str.length;i++)
  {
   if(str.charCodeAt(i) > 128){//中文字符
    console.warn("扫描到中文字符")
    if(begin == -1){  //第一次扫描到中文字符
      begin = i     
    }
    if(i == str.length-1 && begin != -1){  //之前扫描到中文字符
      end = i + 1
      var chContent = str.substring(begin, end)
      var encodeContent = EncodeUtf8(chContent)
      newSTR = newSTR + encodeContent
    }
    strlen += 2;
   }else{ //英文字符
    console.warn("扫描到非中文字符")
    if(begin == -1){   //之前没有扫描到中文字符

    }else{           //之前扫描到连续的中文字符
      end = i;
      var chContent = str.substring(begin, end)
      var encodeContent = EncodeUtf8(chContent)
      newSTR = newSTR + encodeContent
      begin = -1
      end = -1
    }
    newSTR = newSTR + str.charAt(i)
   }
   
  }
 return newSTR;
 }
		//字符转换为UTF-8编码
function EncodeUtf8(s1)
{
      var s = escape(s1);
      var sa = s.split("%");
      var retV ="";
      if(sa[0] != "")
      {
         retV = sa[0];
      }
      for(var i = 1; i < sa.length; i ++)
      {
           if(sa[i].substring(0,1) == "u")
           {
               retV += Hex2Utf8(Str2Hex(sa[i].substring(1,5)));
              
           }
           else retV += "%" + sa[i];
      }
     
      return retV;
}
function Str2Hex(s)
{
      var c = "";
      var n;
      var ss = "0123456789ABCDEF";
      var digS = "";
      for(var i = 0; i < s.length; i ++)
      {
         c = s.charAt(i);
         n = ss.indexOf(c);
         digS += Dec2Dig(eval(n));
          
      }
      //return value;
      return digS;
}
function Dec2Dig(n1)
{
      var s = "";
      var n2 = 0;
      for(var i = 0; i < 4; i++)
      {
         n2 = Math.pow(2,3 - i);
         if(n1 >= n2)
         {
            s += '1';
            n1 = n1 - n2;
          }
         else
          s += '0';
         
      }
      return s;
     
}
function Dig2Dec(s)
{
      var retV = 0;
      if(s.length == 4)
      {
          for(var i = 0; i < 4; i ++)
          {
              retV += eval(s.charAt(i)) * Math.pow(2, 3 - i);
          }
          return retV;
      }
      return -1;
}
function Hex2Utf8(s)
{
     var retS = "";
     var tempS = "";
     var ss = "";
     if(s.length == 16)
     {
         tempS = "1110" + s.substring(0, 4);
         tempS += "10" + s.substring(4, 10);
         tempS += "10" + s.substring(10,16);
         var sss = "0123456789ABCDEF";
         for(var i = 0; i < 3; i ++)
         {
            retS += "%";
            ss = tempS.substring(i * 8, (eval(i)+1)*8);
           
           
           
            retS += sss.charAt(Dig2Dec(ss.substring(0,4)));
            retS += sss.charAt(Dig2Dec(ss.substring(4,8)));
         }
         return retS;
     }
     return "";
}	
     function BYYYYMMDDstart()   
   {   
           MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];   
    
           //先给年下拉框赋内容   
           var y  = new Date().getFullYear();   
           for (var i = (y-30); i < (y+30); i++) //以今年为准，前30年，后30年   
                   document.reg_testdate.BYYYY.options.add(new Option(" "+ i +" 年", i));   
    
           //赋月份的下拉框   
           for (var i = 1; i < 13; i++)   
                   document.reg_testdate.BMM.options.add(new Option(" " + i + " 月", i));   
    
           document.reg_testdate.BYYYY.value = y;   
           document.reg_testdate.BMM.value = new Date().getMonth() + 1;   
           var n = MonHead[new Date().getMonth()];   
           if (new Date().getMonth() ==1 && IsPinYear(BYYYYvalue)) n++;   
                writeBDay(n); //赋日期下拉框Author:meizz   
           document.reg_testdate.BDD.value = new Date().getDate();   
   }   
        function EYYYYMMDDstart()   
   {   
           MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];   
    
           //先给年下拉框赋内容   
           var y  = new Date().getFullYear();   
           for (var i = (y-30); i < (y+30); i++) //以今年为准，前30年，后30年   
                   document.reg_testdate.EYYYY.options.add(new Option(" "+ i +" 年", i));   
    
           //赋月份的下拉框   
           for (var i = 1; i < 13; i++)   
                   document.reg_testdate.EMM.options.add(new Option(" " + i + " 月", i));   
    
           document.reg_testdate.EYYYY.value = y;   
           document.reg_testdate.EMM.value = new Date().getMonth() + 1;   
           var n = MonHead[new Date().getMonth()];   
           if (new Date().getMonth() ==1 && IsPinYear(EYYYYvalue)) n++;   
                writeEDay(n); //赋日期下拉框Author:meizz   
           document.reg_testdate.EDD.value = new Date().getDate();   
   } 
   if(document.attachEvent)   
       window.attachEvent("onload", BYYYYMMDDstart);   
   else   
       window.addEventListener('load', BYYYYMMDDstart, false); 
   if(document.attachEvent)   
       window.attachEvent("onload", EYYYYMMDDstart);   
   else   
       window.addEventListener('load', EYYYYMMDDstart, false);  
   function BYYYYDD(str) //年发生变化时日期发生变化(主要是判断闰平年)   
   {   
           var BMMvalue = document.reg_testdate.BMM.options[document.reg_testdate.BMM.selectedIndex].value;   
           if (BMMvalue == ""){ var e = document.reg_testdate.BDD; optionsClear(e); return;}   
           var n = MonHead[BMMvalue - 1];   
           if (BMMvalue ==2 && IsPinYear(str)) n++;   
                writeBDay(n)   
   }   
   function EYYYYDD(str) //年发生变化时日期发生变化(主要是判断闰平年)   
   {   
           var EMMvalue = document.reg_testdate.EMM.options[document.reg_testdate.EMM.selectedIndex].value;   
           if (EMMvalue == ""){ var e = document.reg_testdate.EDD; optionsClear(e); return;}   
           var n = MonHead[EMMvalue - 1];   
           if (EMMvalue ==2 && IsPinYear(str)) n++;   
                writeEDay(n)   
   }
   function BMMDD(str)   //月发生变化时日期联动   
   {   
        var BYYYYvalue = document.reg_testdate.BYYYY.options[document.reg_testdate.BYYYY.selectedIndex].value;   
        if (BYYYYvalue == ""){ var e = document.reg_testdate.BDD; optionsClear(e); return;}   
        var n = MonHead[str - 1];   
        if (str ==2 && IsPinYear(BYYYYvalue)) n++;   
          writeBDay(n)   
   }
   function EMMDD(str)   //月发生变化时日期联动   
   {   
        var EYYYYvalue = document.reg_testdate.EYYYY.options[document.reg_testdate.EYYYY.selectedIndex].value;   
        if (EYYYYvalue == ""){ var e = document.reg_testdate.EDD; optionsClear(e); return;}   
        var n = MonHead[str - 1];   
        if (str ==2 && IsPinYear(EYYYYvalue)) n++;   
          writeEDay(n)   
   }    
   function writeBDay(n)   //据条件写日期的下拉框   
   {   
           var e = document.reg_testdate.BDD; 
           optionsClear(e);   
           for (var i=1; i<(n+1); i++)   
                e.options.add(new Option(" "+ i + " 日", i));   
   }
   function writeEDay(n)   //据条件写日期的下拉框   
   {   
           var e = document.reg_testdate.EDD; 
           optionsClear(e);   
           for (var i=1; i<(n+1); i++)   
                e.options.add(new Option(" "+ i + " 日", i));   
   }    
   function IsPinYear(year)//判断是否闰平年   
   {     return(0 == year%4 && (year%100 !=0 || year%400 == 0));}   
   function optionsClear(e)   
   {   
        e.options.length = 1;   
   }
  </script>
	</head>
  <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="text-center">生成二维码</h1>
        </div>
        <div class="panel-body">
	       <form action = "/manage/QR/option/" method = "get">
          <center>
    	     <label>生成二维码的数量：</label>
    	     <input type="hidden" name="action" value="addQR" />
    	     <input type = "text" name = "number"><br/>
           <button id="haha" type="submit" class="btn btn-primary">提交</button>
          </center>
	       </form>
        </div>
      </div>
  </div>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="text-center">查询关注数量</h1>
        </div>
        <div class="panel-body">
	       <form name="reg_testdate" action = "/manage/QR/option/" method = "get">
          <center>
    	     <label>起始时间（格式：yyyy-mm-dd）：</label>
           <input type="hidden" name="action" value="search" />
             <select name="BYYYY" onchange="BYYYYDD(this.value)">
              <option value="">请选择 年</option>
             </select>
             <tag>-</tag>
             <select name="BMM" onchange="BMMDD(this.value)">
              <option value="">选择 月</option>
             </select>
             <tag>-</tag>
             <select name="BDD">
              <option value="">选择 日</option>
             </select>
             <br>
             <label>截止时间（格式：yyyy-mm-dd）：</label>
             <select name="EYYYY" onchange="EYYYYDD(this.value)">
              <option value="">请选择 年</option>
             </select>
             <tag>-</tag>
             <select name="EMM" onchange="EMMDD(this.value)">
              <option value="">选择 月</option>
             </select>
             <tag>-</tag>
             <select name="EDD">
              <option value="">选择 日</option>
             </select>
             <br>
    	     <button id = "heihei" type="submit" class="btn btn-primary">提交</button>
          </center>
	       </form>
         </div>
      </div>
    </div>
	<body>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="text-center">二维码详细信息</h1>
        </div>
        <div class="panel-body">
		      <table border="1" align=center>
		        <tr align=center>
			       <th style="text-align:center">二维码ID</th>
			       <th style="text-align:center">二维码图片（可点击下载）</th>
			       <th style="text-align:center">二维码性质</th>
			       <th style="text-align:center">关注数量</th>
			       <th style="text-align:center">二维码备注</th>
			       <th style="text-align:center">二维码生成时间</th>
			       <th colspan="2" style="text-align:center">修改</th>
             <th colspan="2" style="text-align:center">记录</th>
		        </tr>
		        {% for item in data%}
		        <tr align=center>
			       <td>{{item.scene_id}}</td>
			       <td style="text-align:center"><img src={{item.pic}} id = {{item.scene_id}} class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4"/></td>
			       <td style="text-align:center">永久性</td>
			       <td style="text-align:center">{{item.count}}</td>
			       <td style="text-align:center">{{item.remark}}</td>
			       <td style="text-align:center">{{item.time}}</td>
			       <td colspan="2"><button id = {{item.scene_id}} class = "btn-info">编辑</button>
              <td colspan="2"><button id = {{item.scene_id}}+"x" class = "btn-info">记录</button>
		        </tr>
		        {% endfor %}
        </div>
      </div>
    </div>
	</body>
</html>