<html>
	<head>
		<title>二维码信息</title>
		<meta charset="utf-8" />
		<script type="text/javascript" src="/static/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
  				$("img").click(function(){
  					var ID = $(this).attr("id")
  					var url = "/manage/QR/option/?action=download&qid=" + ID
  					 //$.get(url, function(data,status){});
  					 window.open(url)
  				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("button").click(function(){
					var ID = $(this).attr("id")
					var content = prompt("请修改备注")
					var before = ID
					if(content == null){
						//点击取消按钮，不做任何处理
					}else{
						var contentEncode = EncodeUtf8(content)
						var url = "/manage/QR/option/?action=modify&qid=" + ID + "&remark=" + contentEncode
						var optionURL = "/manage/QR/option"
						$.get(url, function(data,status){});
						window.location.replace(optionURL)
					}
				});
			});
		</script>
		<script type="text/javascript">
		//字符转换为UTF-8编码
function EncodeUtf8(s1)
{
      var s = escape(s1);
      var sa = s.split("%");
      var retV ="";
      if(sa[0] != "")
      {
         retV = sa[0];
      }
      for(var i = 1; i < sa.length; i ++)
      {
           if(sa[i].substring(0,1) == "u")
           {
               retV += Hex2Utf8(Str2Hex(sa[i].substring(1,5)));
              
           }
           else retV += "%" + sa[i];
      }
     
      return retV;
}
function Str2Hex(s)
{
      var c = "";
      var n;
      var ss = "0123456789ABCDEF";
      var digS = "";
      for(var i = 0; i < s.length; i ++)
      {
         c = s.charAt(i);
         n = ss.indexOf(c);
         digS += Dec2Dig(eval(n));
          
      }
      //return value;
      return digS;
}
function Dec2Dig(n1)
{
      var s = "";
      var n2 = 0;
      for(var i = 0; i < 4; i++)
      {
         n2 = Math.pow(2,3 - i);
         if(n1 >= n2)
         {
            s += '1';
            n1 = n1 - n2;
          }
         else
          s += '0';
         
      }
      return s;
     
}
function Dig2Dec(s)
{
      var retV = 0;
      if(s.length == 4)
      {
          for(var i = 0; i < 4; i ++)
          {
              retV += eval(s.charAt(i)) * Math.pow(2, 3 - i);
          }
          return retV;
      }
      return -1;
}
function Hex2Utf8(s)
{
     var retS = "";
     var tempS = "";
     var ss = "";
     if(s.length == 16)
     {
         tempS = "1110" + s.substring(0, 4);
         tempS += "10" + s.substring(4, 10);
         tempS += "10" + s.substring(10,16);
         var sss = "0123456789ABCDEF";
         for(var i = 0; i < 3; i ++)
         {
            retS += "%";
            ss = tempS.substring(i * 8, (eval(i)+1)*8);
           
           
           
            retS += sss.charAt(Dig2Dec(ss.substring(0,4)));
            retS += sss.charAt(Dig2Dec(ss.substring(4,8)));
         }
         return retS;
     }
     return "";
}	</script>
	</head>

	<form action = "/manage/QR/option/" method = "get">
    	<label>生成二维码的数量</label>
    	<input type="hidden" name="action" value="addQR" />
    	<input type = "text" name = "number"><br/>
    	<input type = "submit" value = "提交"><br/>
	</form>
	<form action = "/manage/QR/option/" method = "get">
    	<label>按起始时间搜索（格式：yyyy-mm-dd）</label>
    	<input type="hidden" name="action" value="search" />
    	<input type = "text" name = "timeA">
    	<tag>-</tag>
    	<input type = "text" name = "timeB"><br/>
    	<input type = "submit" value = "搜索"><br/>
	</form>a
	<body>
		<table border="1" align=cener>
		<tr align=center>
			<th>二维码ID</th>
			<th>二维码图片（可点击下载）</th>
			<th>二维码性质</th>
			<th>关注数量</th>
			<th>二维码备注</th>
			<th>二维码生成时间</th>
			<th>修改</th>
		</tr>
		{% for item in data%}
		<tr align=center>
			<td>{{item.scene_id}}</td>
			<td><img src={{item.pic}} id = {{item.scene_id}} width="200", height="200"/></td>
			<td>永久性</td>
			<td>{{item.count}}</td>
			<td>{{item.remark}}</td>
			<td>{{item.time}}</td>
			<td colspan="2"><button id = {{item.scene_id}} >编辑</button> 
		</tr>
		{% endfor %}
	</body>
</html>